body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}


li {
    list-style: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    -webkit-padding-start: 0px !important;
}

header {
    height: 45px;
    width: 100%;
    text-align: center;
    background: #fff;
    z-index: 10;
    position: fixed;
    /* box-shadow: 1px 1px 4px rgba(10, 10, 10, .4); */
}



.nav-toggle {
    position: fixed;
    color: #5C5C5C;
    cursor: pointer;
    top: 15px;
    left: 15px;
    z-index: 10;
}


nav {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

iframe {
    display: block;
    left: 35px;
    top: 8px;
    width: 150px;
    height: 25px;
    position: absolute;
}





/* SEARCH */
#search-form .fa {
    color: dimgray;
    display: block !important;
    z-index: 99;
    position: absolute;
}

#search-form .fa:active {
    color: #36D7B7;
}

#search-form {
    position: absolute;
    width: 100%;
    left: -100%;
    height: 700px;
    background-color: #333;
    transition: .5s ease-in;
    z-index: 20;
}

#search-form form {
    display: block;
    margin: 0 auto;
    margin-top: 120px;
    max-width: 690px;
}

#search-form span {
    margin-right: 30px;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
}

#search-form h1 {
    text-transform: uppercase;
    color: dimgray;
    letter-spacing: 0.05em;
    margin-bottom: 60px;
    font-size: 2.2em;
    font-weight: 900;
}

.input-field {
    height: 50px;
    margin-top: 60px;
    width: 100%;
}

form input[type="text"] {
    width: 95%;
    float: left;
    font-size: 1.4em;
    font-weight: 100;
    letter-spacing: 0.03em;
    outline: 0;
    border: none;
    color: whitesmoke;
    background-color: #333;
    border-bottom: 4px solid dimgray;
    transition: .3s ease-in-out;
}

form input[type="text"]:focus {
    border-bottom: 4px solid #36D7B7;
}


form input[type="radio"] {
    display:inline-block;
    outline: none;
    width:15px;
    height:15px;
    vertical-align: center;
    background-color: #fff;
}


form .fa-search {
    position: relative !important;
    display: inline-block;
    line-height: 0;
}


.search {
    position: absolute;
    float: right;
    display: inline-table;
    background-color: #fff;
    right: 15px;
    z-index: 10;
    top: 10px;
}

.search input {
    background-color: #fff;
    border: 1px solid #5C5C5C;
    outline: none;
    height: 20px;
    color: #5C5C5C;
}

.search .button {
    font-size: 0.7rem;
    background-color: #fff;
    border: none;
    outline: none;
    margin-left: 10px;
    line-height: 1.2em;
    padding: 5px;
    color: dimgray;
    cursor: pointer;
}

.search .button:active {
    color: #36D7B7;
}


.open-search-form {
    left: 0px !important;
}   





/* META NAV */
.meta-nav {
    position: relative;
    z-index: 20;
    display: inline-block;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}

.meta-nav > ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.meta-nav li {
    padding: 0;
    margin: 0;
}

.meta-nav li a {
    display: inline-block;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    padding: 15px;
    color: dimgray;
}


.meta-nav a:hover {
    background-color: dimgray;
}

.meta-nav a:hover {
    color: #fff;
}



/* NAVIGATION PANEL */
.fa-circle-o {
    display: none !important;
    position: absolute;
    right: 15px;
    color: #5C5C5C;
    top: 15px;
    z-index: 10;
}

.fa-circle-o:active {
    color: #36D7B7;
}

.main-nav {
    position: fixed;
    background-color: #fff;
    /* box-shadow: 1px 1px 6px rgba(10, 10, 10, .4); */
    top: -500px;
    width: 180px;
    margin: 0 auto;
    transition: .4s ease;
    z-index: 2;
    text-align: center;
}


.open-nav {
    top: 40px;
}


.main-nav ul {
    display: inline-block;
    font-weight: 100;
    font-size: 0.7rem;
    text-align: left;
    letter-spacing: 0.01em;
    width: 100%;
    background-color: inherit;
   /*  background-color: red; */
}

ul > li {
    margin: 0;
    padding: 15px;
    display: block;
}

.main-nav > ul > li:hover {
    background-color: #5C5C5C;
}

.main-nav > ul > li:hover > a {
    color: #fff;
}

.main-nav > ul > li:hover .sub-nav {
    color: #fff;
    left: 180px;
}

.main-nav > ul > li:hover .fa-angle-right {
    color: #fff;
}


.open-sub-nav {
    left: 180px;
}

a {
    margin: 0;
    text-decoration: none;
    color: #5C5C5C;
}

.sub-nav li:hover a {
    color: #fff;
}


.fa-angle-right {
    padding-left: 5px;
    float: right;
}

.sub-nav {
    width: 200px !important;
    left: -350px;
    position: absolute;
    transition: .4s ease;
    z-index: -1;
    /* box-shadow: 1px 1px 6px rgba(10, 10, 10, .4); */
    margin: -15px 0 0 0;
}


.sub-nav li {
    z-index: -1;
    background-color: #fff;
    padding: 15px;
    vertical-align: center;
    color: #5C5C5C;
    text-align: left;
}

.sub-nav li:hover {
    background-color: dimgray;
}

.sub-nav li:hover .fa-angle-right {
    color: #fff;
}

.sub-nav li:hover .sub-sub-nav {
    left: 200px;
}

.sub-sub-nav {
    margin: -15px 0 0 0;
    left: -451px;
    /* box-shadow: 1px 1px 6px rgba(10, 10, 10, .4); */
    position: absolute;
    width: 250px !important;
    transition: .4s ease;
    z-index: -5;
}

.sub-sub-nav li:hover {
    background-color: darkgray;
}

.sub-sub-nav li {
    background-color: #fff;
    z-index: -5;
    padding: 15px;
}

.sub-sub-nav li a {
    color: #5C5C5C !important;
}

.sub-sub-nav li:hover a {
    color: #fff !important;
}




/* MAIN */
#banner-area {
    width: 100%;
    height: 700px;
    position: fixed;
    margin: 0 auto;
    text-align: center;
    background: url("img/4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
}

#banner-area:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    /* background-color: rgba(73,163,120, 0.65); */
   background-color: rgba(50, 50, 50, 0.7);
}


.banner {
    vertical-align: center;
    display: inline-block;
    margin: 180px auto 0;
    border: 1px solid #fff;
    color: #fff;
    overflow: hidden;
}

.registration {
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: .3s ease;
}

.registration ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

.registration li {
    padding: 0;
    display: inline-block;
    margin: 0;
}


.registration a {
    font-size: 0.8rem;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    color: #fff;
}

.registration a:hover {
    background-color: #36D7B7;
}


.registration .separator {
    padding: 0;
    margin: 0 4px 0 8px;
    display: inline-block;
    border-right: 1px solid #fff;
    width: 20px;
    height: 40px;
}

.welcome {
    border-top: 1px solid #fff;
    border-bottom: none;
    padding-top: 20px !important;
}

.welcome span {
    padding: 40px 0;
    letter-spacing: 0.03em;
    font-size: 2.2rem;
    font-weight: 100;
}

.banner h2 {
    text-align: center;
    letter-spacing: -0.03em;
    line-height: 1em;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 0 40px 10px;
    /* text-shadow: 1px 2px 4px rgba(10, 10, 10, .5); */
    text-transform: uppercase;
}


.banner h3 {
    padding: 10px 0 20px;
    letter-spacing: 0.01em;
    font-weight: 100;
    font-size: 1em;
    margin: 0;
    border-bottom: 1px solid #fff;

}


.about {
    text-align: left;
    font-size: 0.7rem;
    padding: 10px 0 10px 44px;
    line-height: 0.5em;
}




/* CONTENT */
#content {
    width: 100%;
    position: relative;
    top: 700px;
    background: #fff;
    height: 1500px;
    padding-top: 40px;
}

section {
    max-width: 690px;
    margin: 0 auto;
    padding: 40px 20px 0;
}

section h2 {
    text-align: center;
    display: inline-block;
    font-weight: 900;
    font-size: 1.5em;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-bottom: 60px;
}

section b {
    padding: 5px;
    background-color: dimgray;
    color: #fff;
}

section p {
    letter-spacing: -0.01em;
    line-height: 1.6em;
    word-spacing: 0.01em;
    font-size: 1rem;
    color: #5C5C5C;
}

section a {
    color: #2ABB9B;
}



/* MEDIA QUERIES */
@media (max-width: 720px) {

    /* HEADER */
    header {
        height: 140px;
        width: 100%;
        text-align: center;
        background: #fff;
        z-index: 10;
        position: absolute;
        box-shadow: 1px 2px 4px rgba(10, 10, 10, .5);
    }

    .nav-toggle {
        position: fixed;
        color: #fff;
        cursor: pointer;
        top: 150px;
        left: 15px;
        position: absolute;
        z-index: 10;
    }

    iframe {
        height: 45px;
        width: 190px;
        margin: 0 auto;
        top: 10px;
        text-align: center;
        left: 0;
        position: relative;
    }
    
    nav {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }



    /* SEARCH */
    .search {
        position: relative;
        float: none;
        display: inline-table;
        right: 0;
        z-index: 10;
        margin: 0 auto;
    }

    .search input {
        background-color: #fff;
        border: 1px solid #5C5C5C;
        outline: none;
        height: 20px;
        width: 150px;
        color: #333;
    }

    .search button {
        background-color: #fff;
        border: 1px solid #5C5C5C;
        margin-left: 15px;
        color: #5C5C5C;
        padding: 3px;
    }



    /* META NAV */
    .meta-nav {
        height: 40px;
        top: 20px;
    }
    .meta-nav > ul {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }

    .meta-nav li {
        padding: 0;
        margin: 0;
    }

    .meta-nav li a {
        display: inline-block;
        font-size: 0.7rem;
        padding: 5px;
        color: dimgray;
    }


    .meta-nav a:hover {
        background-color: dimgray;
    }

    .meta-nav a:hover {
        color: #fff;
    }


}





@media (max-width: 460px) {
    
    /* MOBILE MAIN NAV PANEL */
    .fa-circle-o {
        display: block !important;
    }

    .fa-circle-o:active {
        color: #36D7B7;
    }

    .main-nav {
        position: absolute;
        background-color: #fff;
        box-shadow: 1px 1px 6px rgba(10, 10, 10, .4);
        left: -500px;
        top: 140px;
        height: 440pt;
        width: 100%;
        margin: 0 auto;
        transition: .4s ease;
        z-index: 10;
        text-align: center;
    }


    .open-nav {
        left: 0px;
    }


    .main-nav ul {
        display: inline-block;
        font-weight: 100;
        font-size: 0.7rem;
        text-align: left;
        margin-top: 80px;
        letter-spacing: 0.01em;
        width: 100%;
        background-color: inherit;
       /*  background-color: red; */
    }

    ul > li {
        margin: 0;
        padding: 15px;
        display: block;
    }

    .main-nav > ul > li:hover {
        background-color: dimgray;
    }

    .main-nav > ul > li:hover > a {
        color: #fff;
    }

    .main-nav > ul > li:hover .sub-nav {
        left: 0;
        color: #fff;
    }

    a {
        margin: 0;
        text-decoration: none;
        color: #333;
    }

    .sub-nav li:hover a {
        color: #fff;
    }


    .sub-nav {
        width: 100% !important;
        height: 100%;
        left: -500px;
        top: 0;
        position: absolute;
        transition: .4s ease;
        background-color: #fff !important;
        z-index: 1;
        box-shadow: 1px 1px 6px rgba(10, 10, 10, .4);
        margin: 40px 0 0 0;
    }

    .open-mob-sub-nav {
        left: 0px;
    }


    .sub-nav li {
        z-index: -1;
        background: #fff;
        padding: 15px;
        vertical-align: center;
        color: #333;
        text-align: left;
    }

    .sub-nav li:hover {
        background-color: #5C5C5C;
    }
    
    .sub-nav li:first-of-type {
        margin-top: 40px;
    }

    .sub-sub-nav {
        margin: 0;
        left: -500px;
        top: 0;
        box-shadow: 1px 1px 6px rgba(10, 10, 10, .4);
        bottom: none;
        position: absolute;
        width: 100% !important;
        transition: .4s ease;
        z-index: 1;
    }

    .open-sub-sub {
        right: 0;
    }

    .sub-sub-nav li:hover {
        background-color: dimgray;
    }

    .sub-sub-nav li {
        background-color: #C9C9C9;
        z-index: 0;
        padding: 15px;
    }

    .sub-sub-nav li a {
        color: #333 !important;
    }

    .sub-sub-nav li:hover a {
        color: #fff !important;
    }




    /* MOBILE MAIN */
    #banner-area {
        width: 100%;
        height: 740px;
        position: fixed;
        margin: 0 auto;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 240%;
    }

    #banner-area:before {
        width: 300%;
        height: 300%;
       background-color: rgba(50, 50, 50, 0.7);
    }


    .banner {
        margin: 260px auto 0;
    }

    .registration {
        top: 0;    
        width: 100%;
        right: 0;
        position: relative;
    }



    /* MOBILE CONTENT */
    #content {
        width: 100%;
        position: relative;
        top: 700px;
        background: #fff;
        height: 1500px;
        padding-top: 40px;
    }

    section {
        max-width: 660px;
        padding: 0 20px;
        margin: 0 auto;
    }

    section h2 {
        font-weight: 700;
        font-size: 1.3em;
        padding: 0;
        background-color: #fff;
        color: #333;
        text-align: left;
        margin-bottom: 30px;
    }

    section b {
        padding: 5px;
        background-color: dimgray;
        color: #fff;
        font-size: 0.9rem;
    }

    section p {
        letter-spacing: -0.01em;
        line-height: 1.6em;
        word-spacing: 0.01em;
        font-size: 0.9rem;
        color: #333;
    }

    section a {
        color: #2ABB9B;
    }



}